html{
	height: 100%;
}

body{
	background-image: none;
	background-color: #242424;
	height: 100%;
}

section{
	height: 90%;
}

.game_img_left, .game_img_right{
	width: 250px;
	height: 250px;
}

.game_choice_list{
	vertical-align: middle;
}

select{
	background-color: #ececec;
	padding: 10px;
	font: 400 17px/2em 'Source Sans Pro', sans-serif;
	color: #414141;
	border: none;
	cursor: pointer;
	max-width:  15em;
	width: 100%;
}

.game_header{
	display: block;
	padding: 10px;
}

.game_header h1{
	display: inline-block;
}

.game_header div{
	display: inline-block;
	float: right;
}

.game_content{
	text-align: center;
}

.game_content h1{
	text-align: center;
}

.game_block{
	display: none;
}

/* button{
	width: 130px;
	height: 40px;
	padding: 10px 25px;
	border: 0.5px solid #000;
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	display: inline-block;
} */

.game_next{
	visibility: hidden;
}

@media screen and (max-width: 720px){
	.game_block{
		display: inline-grid;
	}
}

@media screen and (max-width: 270px) {
	.game_image_left, .game_image_right{
		block-size: auto;
	}
}